{{ partial "header.html" . }}

<section id="main" class="mt5">
  <div>
    <ul id="list" class="pl0">
      <!-- prettier-ignore -->
      {{ range .Data.Pages.ByDate.Reverse }}
      <li class="list pl0 lh-copy pv2 ">
        <a class="white link hover-gold ks-serif f2 b" href="{{ .Permalink}}">{{ .Title }}</a>
        <span class="f6 gray db dib-ns ks-sans-serif">{{ .Date.Format "2 Jan 2006" }}</span>
      </li>
      <!-- prettier-ignore -->
      {{ end }}
    </ul>
  </div>
</section>

<!-- {{ partial "footer.html" . }} -->