<footer>

  <p class="f6 gray mt6 bt b--gray f6">
    <div class="floating-menu ks-sans-serif f3">
      <a href='' class="white link hover-gold">© 2019</a><br>
      <a href="#" class="white link hover-gold">BIO</a><br>
      <a href="/post" class="white link hover-gold">BLOG</a><br>
      <a href="http://web.mit.edu/kshum/www/portfolio.html" target="_blank" class="white link hover-gold">WORK</a><br>
      <a class="white link hover-gold" href="mailto:kshum@mit.edu?Subject=Hello%20from%20kevinshum.com"
        target="_top">CONTACT</a>
    </div>
    <br>
    <br>
  </p>
  </div>
</footer>
</body>

</html> {{ partial "scripts.html" . }}